.project__section {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.project__right__middle {
  width: 50%;
  text-align: start;
}

.project__description__middle {
  background: #112240;
  box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
  padding: 15px;
  border-radius: 8px;
  margin-right: -20px;
  text-align: justify;
  z-index: 3;
}

.project__left {
  width: 50%;
  z-index: -1;
}

.project__right {
  width: 50%;
  text-align: end;
}

.project__description {
  background: #112240;
  box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
  padding: 15px;
  border-radius: 8px;
  margin-left: -20px;
  text-align: justify;
  z-index: 3;
}

.project__img {
  box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
  border-radius: 8px;
  filter: brightness(70%);
  /* width: 100%; */
  z-index: 0;
}

.project__tags{
  margin-top: 5px;
}
.icons {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== .*/

@media screen and (max-width: 1024px) {
  .project__section {
    display: flex;
    flex-direction: column;
  }
  .project__left {
    /* width: 100%; */
    display: none;
  }
  .project__right {
    width: 100%;
    text-align: start;
  }
  .project__right__middle {
    width: 100%;
    text-align: end;
  }
  .middle{
    display: flex;
    flex-direction: column-reverse;
  }
  .project__description {
    margin-left: 0px;
  }
  .project__description__middle {
    margin-right: 0px;
  }
}