.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.container .box {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.container .box:hover {
  transform: scale(1.05);
}

.container .box:hover img {
  opacity: 1;
}

.container .box .content {
  background: var(--color-bg-variant);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  z-index: 1;
  color: #fff;
}

.text-content {
  padding: 20px;
}

.portfolio_container img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  opacity: 0.8;
}

.heading-content {
  margin-bottom: 15px;
}

.portfolio_container .buttons {
  display: flex;
  justify-content: space-between;
}

.live {
  margin-left: 10px;
}

.all-project-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.project-name {
  height: 150px;
  overflow-y: scroll;
  cursor: pointer;
}

.project-details-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 0rem 4rem;
}

.project-detail-image {
  height: 290px;
  overflow-y: scroll;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.project-details-header .links{
}

.project-details-header .links a{
  margin-right: 10px;
}

.project-detail-content {
}



.project-detail-content p {
  font-size: 1rem;
  margin-bottom: 5px;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== .*/

@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  .all-project-button {
    margin-bottom: 80px;
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== .*/

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .all-project-button {
    margin-bottom: 80px;
  }
  .project-name {
    height: 165px;
  }
}
