header {
  height: 100vh;
  padding-top: 2rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.heder-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
}

/* =============== CTA ============== .*/

.cta {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* =============== HEADER SOCIALS ============== .*/

.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* =============== MY IMAGE ============== .*/

.me {
  background: linear-gradient(var(--color-primary), transparent);
  margin: 0 auto;
  max-width: 18rem;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 2rem 1rem 0rem 1rem;
}

.me img {
  max-width: 100%;
  height: auto;
}
/* =============== SCROLL DOWN ============== .*/

.scroll_down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 105px;
  position: absolute;
  right: -2.3rem;
  bottom: 6rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* =============== SWITCHER ============== .*/

.theme-switcher-label {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  transition: 0.3s;
}

.switch-handle {
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.theme-switcher {
  display: none;
}

.light-text {
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.dark-text {
  color: #fff;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.filter_2 {
  padding-top: 0.375rem;
  color: #292a2d;
}

.active {
  background-color: var(--color-primary);
}

.active .light-text {
  display: none;
  opacity: 0;
}
.active .dark-text {
  display: block;
  opacity: 1;
}
.dark-text {
  display: none;
  opacity: 0;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ============== .*/

@media screen and (max-width: 1024px) {
  header {
    height: auto;
  }
  .theme-switcher-label {
    width: 45px;
    height: 45px;
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) ============== .*/

@media screen and (max-width: 600px) {
  header {
    height: auto;
  }

  .header_socials,
  .scroll_down {
    display: none;
  }

  .theme-switcher-label {
    width: 40px;
    height: 40px;
  }

  .heder-content {
    height: auto;
    padding-bottom: 0rem;
  }
}
